# 忽略编译输出文件夹
bin/
obj/

# 忽略 Visual Studio 的本地缓存
.vs/
*.user
*.suo

# 忽略本地临时生成的配置文件和日志
deck_config.json
*.log

# 忽略 macOS/Windows 系统级隐藏缓存
.DS_Store
Thumbs.db
Desktop.ini
SetupBuild/
# 🛡️ 忽略第三方闭源驱动与二进制程序，防止侵权与仓库臃肿
VBCABLE_Driver_Pack45/
VirtualDisplayDriver/
WebServer/
scrcpy-win64-v2.4/
